@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@500&family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(51, 32, 68);
  color: white;
  font-family: "Commissioner", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

header {
  height: 5em;
  padding: 30px;
  margin-bottom: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px rgba(255, 255, 255, 0.26) solid;
}
header h1 {
  font-size: 1.5rem;
}
.planets {
  opacity: 0.8;
  display: inline-block;
  margin: 10px;
}
.planets:hover {
  opacity: 1;
  cursor: pointer;
}
main img {
  height: 300px;
  margin-left: 30vw;
}
main .planet-name {
  font-size: 3.5rem;
}
aside {
  float: right;
  margin-right: 200px;
  width: 300px;
}
aside p {
  opacity: 0.8;
  line-height: 20px;
}
.grid-container {
  display: grid;
  margin-top: 5rem;
  grid-template-columns: repeat(4, 12rem);
  justify-content: center;
  grid-column-gap: 20px;
}
.grid-container div {
  border: 1px rgba(255, 255, 255, 0.397) solid;
  height: 80px;
}
